body {
	background-color: lavender;
}
h1 {
	color: black;
	font-family: Verdana;
}
h2 {
	color: black;
	font-family: Verdana;
}
h3 {
	color: black;
	font-family: Verdana;
}
p {
	color: black;
	font-family: Verdana;
	line-height: 1.5;
}
a {
	color: darkblue;
	font-family: Verdana;
	font-size: 20px;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.button {
	background-color: lightgray;
	border: 2px solid Black;
	color: black;
	text-align: center;
	line-height: 10px;
	padding: 20px;
	font-size: 60px;
	margin: 0px 60px;
	transition-duration: 0.4s;
	cursor: pointer;
	position: absolute;
	top: 44px;
}
.button2 {
	background-color: lightgray;
	border: 2px solid Black;
	text-align: center;
	line-height: 20px;
	padding: 20px;
	font-size: 50px;
	margin: 0px 60px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 44px;
}
.button:hover {
	background-color: darkgray;
	color: black;
}
.checkbox {
	float: left;
	margin-top: 5px;
	cursor: pointer;
}
.label {
	font-family: Verdana;
	display: block;
	padding-top: 2px;
}